<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CARRITO VUE-JS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    </head>    
    <body>
        <div class="container">
            <div id="app">
                <!-- Aca se renderiza toda la aplicacion VueJS -->
                <div id="carrito">
                    <label for="producto">Producto: </label>
                    <input type="text" v-model="producto" class="custom-select-lg form-control browser-default mb-3" />
                    <label for="cantidad">Cantidad: </label>
                    <input type="number" v-model="cantidad" class="custom-select-lg form-control browser-default mb-3" />
                    <label for="precio">Precio: </label>
                    <input type="number" v-model="precio" class="custom-select-lg form-control browser-default mb-3" />
                    <div class="text-left">
                        <label for="precio">SUBTOTAL: </label>
                        <label id="subtotal" type="number" class="badge badge-secondary">{{ subtotal }}</label>
                    </div>
                    <div class="text-right">
                        <input value="Agregar" type="button" class="btn btn-primary" v-on:click="agregarProducto()"/>
                    </div>
                </div>
                <hr>
                <div v-if="productosAgregados.length > 0" id="lista">
                    <label for="total">TOTAL: </label>
                    <input v-model="total" type="text" readonly class="form-control-plaintext" id="idTotal" > <br>
                    <label for="listaProductos">Lista de Productos: </label>
                    <ul>
                        <li v-for="prod in productosAgregados">

                            Producto: {{ prod.producto }} Cantidad: {{ prod.cantidad }} Precio: {{ prod.precio }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    producto: '',
                    cantidad: 0,
                    precio: 0,
                    subtotal: 0,
                    total: 0,                  
                    productosAgregados: [
                    ],
                },
                methods: {
                    agregarProducto: function() {
                        this.productosAgregados.push({
                            cantidad: +this.cantidad,
                            producto: this.producto,
                            precio: +this.precio * +this.cantidad
                        })
                        
                        this.total += this.productosAgregados[this.productosAgregados.length - 1].precio;
                        this.subtotal = 0;
                        this.cantidad = 0;
                        this.precio = 0;
                        this.producto = '';
                    }
                },
                computed: {

                },
                watch: {
                    producto: function(val) {
                        this.subtotal = +val;
                    },
                    cantidad: function(val) {
                        this.subtotal *= +val;
                    }
                }
            });

            window.vue = app;
        </script>
    </body>
</html>