<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CARRITO VUE-JS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    </head>    
    <body>
        <div class="container">
            <div id="app">
                <!-- Aca se renderiza toda la aplicacion VueJS -->
                <div id="carrito">
                    <label for="producto">Producto: </label>
                    <select v-model="producto" class="browser-default custom-select custom-select-lg mb-3">
                        <option v-for="prod in productos" v-bind:value="prod.value">
                            {{ prod.producto }}
                        </option>
                    </select>
                    <label for="cantidad">Cantidad: </label>
                    <select v-model="cantidad" class="browser-default custom-select custom-select-lg mb-3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="precio">Precio: </label>
                    <input type="text" v-model="producto" class="custom-select-lg form-control browser-default mb-3" />
                    <div class="text-left">
                        <label for="precio">SUBTOTAL: </label>
                        <label id="subtotal" type="text" class="badge badge-secondary">{{ subtotal }}</label>
                    </div>
                    <div class="text-right">
                        <input value="Agregar" type="button" class="btn btn-primary" v-on:click="agregarProducto()"/>
                    </div>
                </div>
                <hr>
                <div v-if="productosAgregados.length > 0" id="lista">
                    <label for="total">TOTAL: </label>
                    <input v-model="total" type="text" readonly class="form-control-plaintext" id="idTotal" > <br>
                    <label for="listaProductos">Lista de Productos: </label>
                    <ul>
                        <li v-for="prod in productosAgregados">
                            {{ prod.producto }} {{ prod.cantidad }} {{ prod.precio }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    producto: '',
                    cantidad: 0,
                    precio: 0,
                    subtotal: 0,
                    total: 0,
                    productos: [
                        { producto: 'Remera', value: '101' },
                        { producto: 'Pantalon', value: '202' },
                        { producto: 'Zapatillas', value: '303' },
                        { producto: 'Buzo', value: '404' },
                        { producto: 'Campera', value: '505' }
                    ],                   
                    productosAgregados: [
                    ],
                },
                methods: {
                    agregarProducto: function() {
                        this.productosAgregados.push({
                            cantidad: +this.cantidad,
                            producto: this.producto,
                            precio: +this.producto * +this.cantidad
                        })
                        
                        console.log(this.productosAgregados);

                        this.subtotal = 0;
                    }
                },
                computed: {
                    calcularTotal: {
                        get: function() {
                            productosAgregados.forEach(element => {
                                this.total += element.precio
                            });
                        },
                        set: function(valor) {
                            var x = valor.split(",");
                            this.nombre = x[0];       //  Poner if para validar
                            this.apellido = x[1];
                        }
                    },
                },
                watch: {
                    producto: function(val) {
                        this.subtotal = +val;
                    },
                    cantidad: function(val) {
                        this.subtotal *= +val;
                    }
                }
            });

            window.vue = app;
        </script>
    </body>
</html>