<html>
    <head>
        <script type="text/javascript" 
                src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
        </script>
    </head>
    <body>
        <div id="app">
            <!-- Aca se renderiza toda la aplicacion VueJS -->
            <h4>Cliente:</h4>
            <h4>Codigo: <input type="text" v-model="codigo" /></h4>
            <h4>Razon Social: <input type="text" v-model="razonsocial" /></h4>
            <h4>Vendedor: <input type="text" v-model="vendedor" /></h4>
            <c_direccion calle="" altura="" localidad=""></c_direccion>
            <hr/>
            <h4>Proveedor:</h4>
            <h4>Codigo: <input type="text" v-model="codigoprov" /></h4>
            <h4>Razon Social: <input type="text" v-model="razonsocialprov" /></h4>
            <h4>Rubro: <input type="text" v-model="rubroprov" /></h4>
            <c_direccion calle="" altura="" localidad=""></c_direccion>
        </div>

        <script>
            Vue.component('c_direccion', {
                props: {
                    calle: String,
                    altura: String,
                    localidad: String,
                },
                template: '<div><h4>Calle: <input type="text" v-model="calle" /> </h4>'+
                    '<h4>Altura:<input type="text" v-model="altura" /> </h4><h4>Localidad: <input type="text" v-model="localidad" /> </h4></div>'  
                
                
            });

            var app = new Vue({
                el: '#app',
                data: {
                    codigo: '45151',
                    razonsocial: 'Jaime lanisky',
                    vendedor: 'copito copper',
                    codigoprov: '1144',
                    razonsocialprov: 'Probame S.A',
                    rubroprov: 'todo tipo de quesos'
                },
                methods: {
                },
            });
        
        </script>

    </body>
</html>